[Unit]
Description=simple-filestore
After=network.target

[Service]
ExecStart=/usr/local/bin/simple-filestore --workspace /var/lib/simple-filestore
Restart=on-failure

[Install]
WantedBy=multi-user.target
