[Unit]
Description=simple-filestore
After=network.target

[Service]
ExecStart=/usr/local/bin/simple-filestore --workspace /mnt/big_ssd/simple_filestore
Restart=on-failure

[Install]
WantedBy=multi-user.target
